:root {
  --bg-image: url('https://images.unsplash.com/photo-1538370965046-79c0d6907d47?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80');
}

body {
  background-color: #1d1e22;
  font-family: sans-serif;
  display: flex;
}

.card {
  width: auto;
  height: auto;
  margin: auto;
  padding: 1rem;
  height: 600px;
  width: 1250px;
  text-align: center;
  color: white;
  display: flex;
  align-items: center;
  position: relative;
  background-color: rgba(204, 21, 21, 0.712);
  border-radius: 10px;
}

.bg-blur {
  width: auto;
  height: auto;
  overflow: hidden;
  background-color: transparent;
}

.bg-blur::before {
  content: '';
  background-image: var(--bg-image);
  background-size: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  filter: blur(30px);
  z-index: -1;
}

body {
  text-align: center;
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h1 {
  text-shadow: 2px 2px 4px #e2270e;
}

h3 {
  color: rgb(109, 223, 64);
}

a {
  text-shadow: 2px 2px 4px white;
}

.column {
  float: left;
  width: 50%;
  padding: 0px;
}

.row::after {
  content: '';
  clear: both;
  display: table;
}

#logo {
  width: 10%;
  height: auto;
}

#ai {
  width: 80%;
  height: auto;
}

#lgpd {
  width: 85%;
  height: auto;
}

#ai:hover {
  width: 95%;
  height: auto;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(45%);
}

#lexie {
  width: 90%;
  height: auto;
}

#lexie:hover {
  width: 100%;
  height: auto;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(45%);
}

#lgpd:hover {
  width: 100%;
  height: auto;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(45%);
}

.buttonStyle {
  background-color: #f31212;
  border: none;
  color: white;
  padding: 20px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  opacity: 0.7;
}

.buttonStyle:hover {
  opacity: 1;
}

input[type='text'] {
  width: 900px;
  border: 2px solid #2657e0;
  border-radius: 4px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

nav {
  background-color: #242526;
  position: fixed;
  width: 100%;
  z-index: 999;
  height: 65px;
  line-height: 65px;
}

nav .wrapper {
  position: relative;
  max-width: 1250px;
  padding: 0 30px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper .nav_links {
  display: flex;
}

.wrapper .logo a,
.nav_links li a {
  color: #f2f2f2;
  text-decoration: none;
}
.wrapper .logo a {
  font-size: 27px;
  font-weight: 600;
  text-transform: uppercase;
}

.nav_links li a {
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  padding: 9px 15px;
  transition: all 0.3s ease;
}

.nav_links li {
  list-style-type: none;
}
.nav_links li a:hover {
  background: #3a3b3c;
}
.nav_links .mobile_item {
  display: none;
}

/**********************************
            Drop Down Menu             
*********************************** */

.nav_links .drop_menu {
  position: absolute;
  top: 65px;
  width: 180px;
  line-height: 45px;
  background-color: #242526;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
.nav_links li:hover .drop_menu,
.nav_links li:hover .mega_box {
  top: 65px;
  opacity: 1;
  visibility: visible;
}

.drop_menu li a {
  width: 100%;
  display: block;
  padding: 0 0 0 15px;
  font-weight: 400;
  border-radius: 0px;
}

/**********************************
              Mega Menu             
*********************************** */

.mega_box {
  position: absolute;
  top: 85px;
  left: 0;
  width: 100%;
  padding: 0 30px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}

.mega_box .content {
  background-color: #242526;
  padding: 25px 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.content .row {
  width: calc(25% - 30px);
  line-height: 45px;
}

.content .row header {
  color: #fff;
  font-weight: 800;
  font-size: 20px;
}

.content .row .services_img {
  background-image: url(https://i.pinimg.com/originals/cc/21/4a/cc214a8fc4c81b090c84811ddcfa791c.jpg);
  background-color: #d9d9d9;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.content .row .mega_links {
  margin-left: -40px;
  border-left: 1px solid rgba(255, 255, 255, 0.09);
}
.content .row .first_links {
  border-left: 0px;
}

.row .mega_links li {
  padding: 0 20px;
}
.row .mega_links li a {
  padding: 0 20px;
  color: #d9d9d9;
  font-size: 17px;
  line-height: 45px;
  display: block;
}

/* buttons style */

.wrapper .btn {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.wrapper .btn.cancel_btn {
  position: absolute;
  top: 0;
  right: 10px;
}

/**********************************
          Responsive Styles             
*********************************** */

@media screen and (max-width: 970px) {
  .wrapper .btn {
    display: block;
  }
  .wrapper .nav_links {
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 350px;
    background: #242526;
    display: block;
    top: 0;
    left: 0;
    left: -100%;
    overflow-y: auto;
    line-height: 50px;
    padding: 50px 10px;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.15);
    transition: all 0.5s ease-in-out;
  }
  #menu_btn:checked ~ .nav_links {
    left: 0%;
  }
  #menu_btn:checked ~ .btn.menu_btn {
    display: none;
  }
  .nav_links::-webkit-scrollbar {
    width: 0px;
  }
  .nav_links li {
    margin: 15px 10px;
  }
  .nav_links li a {
    padding: 0 20px;
    display: block;
    font-size: 20px;
  }

  /* drop down responsive */

  .nav_links .drop_menu {
    position: static;
    opacity: 1;
    visibility: visible;
    top: 65px;
    padding-left: 20px;
    width: 100%;
    max-height: 0px;
    overflow: hidden;
  }

  #showDrop:checked ~ .drop_menu {
    max-height: 100%;
  }
  .nav_links .drop_menu li {
    margin: 0;
  }
  .nav_links .drop_menu li a {
    font-size: 18px;
    border-radius: 5px;
  }
  .nav_links .desktop_item {
    display: none;
  }
  .nav_links .mobile_item {
    display: block;
    font-size: 20px;
    color: #f2f2f2;
    font-weight: 500;
    padding-left: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  .nav_links .mobile_item:hover {
    background: #3a3b3c;
  }

  /* Mega menu responsive */

  .mega_box {
    position: static;
    top: 65px;
    width: 100%;
    padding: 0 20px;
    opacity: 1;
    max-height: 0px;
    visibility: visible;
    overflow: hidden;
    transition: all 0.3s ease;
  }

  #showMega:checked ~ .mega_box {
    max-height: 100%;
  }

  .mega_box .content {
    background-color: #242526;
    flex-direction: column;
    padding: 20px 20px 0 20px;
  }
  .mega_box .content .row {
    width: 100%;
    margin-bottom: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.08);
  }
  .mega_box .content .row:nth-child(1),
  .mega_box .content .row:nth-child(2) {
    border-top: 0px;
  }

  .content .row .services_img {
    height: 200px;
  }
  .content .img_row {
    border-top: none !important;
  }
  .content .row .mega_links {
    border-left: 0px;
    padding-left: 15px;
  }
  .row .mega_links li {
    margin: 0;
  }
  .content .row header {
    font-size: 18px;
  }
}
.wrapper input {
  display: none;
}
